<div class="banner">
  <div class="banner-content">
    <p> <span id="banner-typed-text"></span>
    </p>

    <a class="btn btn-success btn-lg" href="/cocktails/new">Create a cocktail! </a>
  </div>
</div>



<div class="container">

  <div class="cocktail-list" class="cocktail-list-head text-center">
  <h2>Cocktails</h2>
   </div>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(253, 253, 253, 0.33), rgba(222, 186, 207, 0.06)), url('<%= cl_image_path cocktail.photo, width: 350, height: 400, crop: :fill %>');">
          <div class="card-category">Popular</div>
           <div class="card-description">
            <h2><%= cocktail.name %></h2>
          </div>
          <%= link_to "", cocktail_path(cocktail), class: 'card-link' %>
        </div>
      </div>
       <% end %>
     </div>
